.ac-register_form {
  .ac-register_form_content {
    display: flex;
    justify-content: center;
    width: 1260px;
    margin-left: auto;
    margin-right: auto;
    .register-form-window {
      color: #9E0D1D;
      width: 430px;
      font-size: 24px;
      font-weight: 650;
      padding: 30px;
      box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
      background: white;
      border-radius: 10px;

      & img {
        width: 60px;  
      }

      .last {
        font-size: 15px;
      }

      &_content {
        margin-top: 15px;
        .custom-input {
          width: 100%;
          line-height: 1.5;
          font-size: 1.2em;
          padding: .375rem 1.1em;
          border: 1px solid #ced4da;
          border-radius: .25rem;
          box-sizing: border-box;
        }
        
        .custom-register-button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          background-color: #9E0D1D;
          font-weight: 500;
          color: white;
          font-size: 20px;
          padding: 23px;
        }

        .register-google {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          background-color: white;
          font-weight: 600;
          color: black;
          font-size: 18px;
          padding: 23px;
        }

        .google-icon {
          font-size: 30px;
          padding: 10px;
        }
      }
    }
  }
}
